.home_default{
    margin-top: 50px;
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(107, 27, 220);
    
    .home_default_image{
        height: 350px;
        width: 390px;
    }
    
}
.popup_control{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    .popup-close-btn{
        background: white;
        color: black;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 18px;
        transition: background-color 0.3s ease;
        border-radius: 10px;
    }
}


